/* navbar style */

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 .heroimage{
    background-image: url("Hero-bg.png");
 }
 .navstyle a{
    background-image: url("Hero-bg.png")
    list-style: none;
    text-decoration: none;
    margin: 20px;
    padding: 25px;
    justify-content: space-between;


 }